h1 {
  font-size: 40px;
  font-weight: bold;
  color: violet;

}
 body {
     background-color: #00eeff;

} {
color: #fff;
text-align: center;
 }
#content{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  max-width: 960px;
  margin: 0 auto;
}
#content div{
  background: #3bbced;
  padding: 30px;
}
#content div:nth-child(even){
  background: #203;
}

